*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin:0;
}
html {
    color-scheme: light dark;
}
body {
    font-family: sans-serif;
}
:where(h1, h2, h3, h4, h5, h6) {
    padding: 1.5em 0 .5em 0;
}
.skip {
    position: absolute;
    top: -500px;
    transition: all .35s;
    padding: 1rem;
    background-color: blue;
    color: white;
}
.skip:focus-within {
    top: 0;
    transition: all .35s;
}
a {
    color: currentColor;
    text-decoration: none;
    transition: all .15s ease-in;
    &:hover {
        color: blue;
    }
}
img {
    max-width: 100%;
    display: block;
}
pre {
    white-space: break-spaces;
    background-color: black;
    padding: 1rem;
}
pre, code {
    color: white;
    // background-color: black;
    // padding: 1rem;
    word-break: break-all;
    position: relative;
    border-radius: 6px;
    
}