<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <nav id="header-nav">
        <a href="#main" class="skip visually-hidden">Skip to main content</a>

        <div class="navbar">
            <a href="/">
                <div class="brand">
                    <div style="background:red; border-radius: 50px; width: 50px; height: 50px; font-size: 8px; display: flex; justify-content: center; align-items: center;">LOGO</div>
                </div>
            </a>
            <ul>
                {% for page in collections.all %}
                    {% if page.data.navigation %}
                        <li><a href="{{ page.url }}">{{ page.data.navigation }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>


    <div class="container">
        <main id="main">
        {{ content }}
        </main>
    </div>

    <footer>
        <div class="legal">
            &copy; 2023 My Company
        </div>
    </footer>
</body>
</html>