@use '../abstracts/mixins' as mixin;

.card {
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 1rem;

    &-content {
        padding: 1rem;
    }
    &-footer {
        padding: 1rem;
    }
    
    @include mixin.headings {
        padding-top: 0;
    }
    // h1, h2, h3, h4, h5, h6 {
    //     padding-top: 0;
    // }
}